@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat");

html,
body {
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

#app {
  font-family: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.vueperslides__bullet .default {
  background-color: #696666;
  border: none;
  box-shadow: none;
  transition: 0.3s;
  width: 16px;
  height: 16px;
}

.vueperslides__bullet--active .default {
  background-color: #ed2f59;
}

#prices .vueperslides__bullet--active .default {
  background-color: white;
}

.vueperslides__arrows button svg {
  color: #ed2f59;
  height: 60px;
}

#prices .vueperslides__arrows button svg {
  color: white;
  height: 70px;
}

#sell-gallery .vueperslides__bullet--active .default {
  background-color: #f646d7;
}

#sell-gallery .vueperslides__arrows button svg {
  color: #f646d7;
  height: 60px;
}

.vueperslides__bullet span {
  display: block;
  color: #fff;
  font-size: 10px;
  opacity: 0.8;
}

.vueperslides__progress {
  background: rgba(0, 0, 0, 0.25);
  color: #ff5252;
}
